<%- include('./partials/adminheader.ejs') %> <%-
include('./partials/cdnlink.ejs') %>
<main>
  <section class="products-wrapper px-[9%]">
    <div class="product-container flex justify-between flex-wrap">
      <%products.forEach(cv=>{%>
      <div class="max-w-sm rounded overflow-hidden shadow-lg my-5">
        <img class="w-full" src="/uploads/<%= cv.image%>" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= cv.name%></div>
          <div class="flex justify-between">
            <p class="text-gray-700 text-base">Price : <%= cv.price%></p>
            <p class="text-gray-700 text-base">in Stock : <%= cv.quantity%></p>
            <p class="text-gray-700 text-base">Total likes : <%= cv.likes%></p>
          </div>
        </div>
        <div class="px-6 pt-4 pb-2 flex justify-between">
          <% if(isAdmin) {%>
          <button
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            <a href="/products/edit/<%=cv._id%>">edit</a>
          </button>
          <button
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            <a href="/products/<%=cv._id%>/delete">delete</a>
          </button>
          <%}%>
          <button
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            <a href="/products/<%=cv._id%>/like">like</a>
          </button>
        </div>
      </div>
      <%})%>
    </div>
  </section>
</main>
